@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************* CSS SHIT **************************************************/

/* COLORS */

$teal: #799c98;
$pink: #fbceeb;
$orange: #ea8a7c;
$mint: #d0f9eb;
$darkpurple: #542e47;
$cream: #fce7d4;
$black: #000;
$white: white;
$gray: #96A2BA;
$serif: "Libre Baskerville", serif;
$jacques: 'Jacques Francois Shadow', cursive;
$break-small: 320px;
$break-large: 1024px;
$darkgrey: #777;
$grey: #888;

/*      MIXINS     */
@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) {
            @content;
        }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large -1) {
            @content;
        }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) {
            @content;
        }
    }
}

@mixin gradient($color1, $color2, $deg) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    background: -moz-linear-gradient($deg, $color1, $color2);
    background: -o-linear-gradient($deg, $color1, $color2);
    background: linear-gradient($deg, $color1, $color2);
}

@mixin gradAnimateBG($color1, $color2, $color3, $speed) {
    background: linear-gradient(270deg, $color1, $color2, $color3);
background-size: 600% 600%;

-webkit-animation: AnimationName $speed ease infinite;
-z-animation: AnimationName $speed ease infinite;
-o-animation: AnimationName $speed ease infinite;
animation: AnimationName $speed ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}

@mixin foundation() {
  font-family: "foundation-icons";
  src: url("foundation-icons.eot");
  src: url("foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("foundation-icons.woff") format("woff"),
       url("foundation-icons.ttf") format("truetype"),
       url("foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;

}

body {
    background: $gray;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: $serif;
    @include gradAnimateBG($teal, $mint, $pink, 30s);
    box-sizing: border-box;



    a {
        text-decoration: none;
        font-family: $jacques;
    }

  

span {
    position: absolute;
            top: 0.4em;
            right: 0.4em;
            width: 2em;
            height: 2em;
            text-indent: -9000px;
            cursor: pointer;
            z-index: 1000;
}

span:before {

    content: 'x';
            font-weight: 100;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 2em;
            line-height: 0.6;
            text-align: center;
            text-indent: 0px;
            text-shadow: 1px 2px $white;

}

div.projPage {
        position: absolute;
        top: 10%;
        left: 15%;
        width: 70%;
        height: 80%;
        background: $orange;
        border: 1px solid $cream;
        z-index: 10000;
        opacity: 1.0;

        div#projects {
            position: absolute;
            top: 15%;
            left: 15%;
            width: 70%;
            height: 70%;
            text-size: 2vw;
            color: $white;
            text-shadow: 2px 2px $teal;
            font-family: $serif;

            a {
                text-decoration: none;
            }

            & .staymindful, .term112 {
                display: none;

            }

        }
    }

    div.calPage {
        position: absolute;
        top: 10%;
        left: 15%;
        width: 70%;
        height: 80%;
        background: $mint;
        border: 1px solid $cream;
        z-index: 10000;
        padding-top: 3%;

    }

      div.resPage {
        position: absolute;
        top: 10%;
        left: 15%;
        width: 70%;
        height: 80%;
        background: $mint;
        border: 1px solid $cream;
        z-index: 10000;

        object.pdf {
            position: absolute;
            width: 100%;
            height: 100%;
            background: $pink;
        }

    div#whiteBG {
        position: absolute;
        background: $white;
        top: 10%;
        left: 13%;
        width: 87%;
        height: 90%;
    }


}

div {

    #img{
    position: absolute;
   
    top: 15%;
    left: 18%;
    width: 25%;
    height: 41%;
    background-image: url("ally.jpg");
    background-size: 100%;
     background-origin: center;
     opacity: 0.8;
     background-repeat: none;
     box-sizing: border-box;

}
   

    .divBox {
        position: fixed;
        width: 50%;
        border: solid 1px $teal;
    }
    
    #title {
        position: absolute;
        top: 13%;
        left: 18%;
        height: 10%;
        width: 30%;
        font-family: $serif;
        font-style: italic;
        color: $teal;
        text-shadow: 1px 1px 1px $pink;
        font-size: 4vw;
        text-align: right;
        border: none;

        a {
            color: $teal;
            text-decoration: none;
        }
    }
    #projects {
        position: absolute;
        top: 15%;
        right: 20%;
        width: 30%;
        height: 10%;
        background: $orange;
        border: none;
        opacity: 0.5;
        transition: opacity 0.75s;
            color: $white;
            text-shadow: 3px 2px 3px $darkgrey;
            font-size: 3vw;
            text-align: center;
            padding: 2%;
            padding-top: 0;
           
            box-sizing: border-box;

            #img {
                position: absolute;
                background: $cream;
                border: none;
                }
             #img2 {
        position: absolute;
        width: 94%;
        height: 94%;
        border: none;
        background: $darkpurple;
         }
      
    }

    #projects:hover {
      opacity: 1.0;
    }

    #bio {
        position: absolute;
        right: 30%;
        top: 26%;
        height: 30%;
        width: 20%;
        background: $cream;
        border: none;
        #bioText {
            position: absolute;
            left: 5%;
            top: 5%;
            width: 90%;
            height: 90%;
            color: $darkpurple;
            font-family: sans-serif;
            font-size: 1vw;
        }
    }
    #social {
        position: absolute;
        right: 20%;
        top: 26%;
        width: 9%;
        height: 30%;
        border: 1px solid $darkpurple;
        background: rgba(208,249,235,0.5);
        font-family: $serif;
        font-size: 1vw;
        border: none;
        #sociallinks {
            @include foundation;
            position: absolute;
            top: 7%;
            left: 25%;
            width: 50%;
            height: 86%;
            
            a {
                font-size: 3vw;
            color: $teal;
            text-shadow: 1px 1px $darkpurple;
            text-align: center;
            display: inline;
            height: 100%;
            padding: none;
         
            }
        }
    }
    #resume {
        position: absolute;
        top: 57%;
        right: 20%;
        width: 36%;
        height: 15%;
        background: $pink;
        border: none;
        opacity: 0.5;
        transition: opacity 0.75s;
        color: $white;
        text-shadow: 3px 2px 3px $darkgrey;
        font-size: 4vw;
        text-align: center;
        padding: 2%;
        box-sizing: border-box;
    }

    #resume:hover {
      opacity: 1.0;
    }

    #block2 {
        position: absolute;
        top: 73%;
        right: 20%;
        width: 30%;
        height: 17%;
        background-image: url("pastelfloral.png");
        border: none;
    }
    #decospace {
        position: absolute;
        top: 15%;
        right: 51%;
        height: 41%;
        width: 5%;
        background-image: url("pastelfloral.png");
        border: none;
    }

    #calendar {

        position: absolute;
        top: 57%;
        left: 18%;
        width: 25%;
        height: 15%;
        background-image: url("minthounds.jpg");
        border: 0.5px solid $darkpurple;
        opacity: 0.7;
        transition: opacity 0.75s;
        color: #999;
        text-shadow: 1px 1px $pink;
        font-size: 4vw;
        padding: 2%;
        padding-left: 4%;
        box-sizing: border-box;

    }

    #calendar:hover {
      opacity: 1.0;
    }

    #bottom {

        position: absolute;
        top: 73%;
        left: 18%;
        width: 31%;
        height: 17%;
        background: $teal;
        border: none;
        font-family: $jacques;
        color: #ddd;
        text-shadow: 3px 1px 1px $darkgrey;
        font-size: 5vw;
        text-align: center;
        box-sizing: border-box;
        padding-top: 0;

         p {
            position: absolute;
            top: 0;
            padding-left: 15%;
        
            }
       
    }


     #bottomText {
            position: absolute;
            float: right;
            right: 5%;
            bottom: 1%;
            height: 15%;
            font-size: 1vw;
            text-align: right;
            font-family: $serif;
            color: $white;
            text-shadow: 0.5px 0.5px #000;
            border: none;
        }

    
}



}

