
@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
  
/******************* CSS SHIT **************************************************/

a {
  
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
}


body {

  color: #ddd;
  background: #222;
  font-size: 24px;
  font-family: 'Gentium Basic';
  line-height: 1.5;


}

.content {

  position: absolute;
  top: 18%;
  height: 72%;
  padding: 1%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  border-radius: 1%;
  border: 1px solid #000;
  background: #333;

}

div {
  position: fixed;
  padding: 0;
  border: 1px solid #000;

}

div#allysorge {
  color: #FFF;
  position: fixed;
  border: 0px;
  top: 70px;
  font-size: 60px;
  text-shadow: 3px 3px 3px #000;
  left: 2.5%;
  width: 15%;
  height: 8%;
  font-family: 'Great Vibes'; 

}

div#allysorge a {
  color: #fff;

}

div#background {
  top: 13%;
  height: 87%;
  width: 100.01%;
  background: #222;
  border: 0px;
  border-top: 2px dotted #fff;
}

div#colorbox {
  position: relative;
  background: #333;
  border: 0px;
  width: 70%;
  height: 25%;
  float: right;
  top: 0px;
  bottom:0px;
 
}

div#footer {

  position: fixed;
  width: 100.01%;
  height: 4%;
  bottom: -1px;
  right: -1px;
  left: -1px;
  padding-left: 5%;
  border: 0px;
  font-size: 18px;
  color: #aaa;
}

div#instaicon {
  position: fixed;
  box-sizing: inherit;
  left: 70%%;
  width: 5%;
  height: 8%;
  top: 36%;
  border: 0px;
}


div#links {
  position: relative;
  top: 45%;
  box-sizing: inherit;
  height: 50%;
  border: 0px;
}

div#main {

  float: left;
  left: 8%;
  width: 54.66%;  
}

div#main p {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  word-wrap: break-word;
}

div#main a {

  color: #CCBBFF;
}

div#nav {
  
  width: 100.01%;
  top: 8.5%;
  height: 5%;
  border: 0px;

}

div#photo {
  position: relative;
  width: 70%;
  height: 38%;
  float: right;
  border: 2px solid #CC6699;
  border-radius: 7px;
  box-sizing: inherit;
  background: #333;
}

div#sidebar {

  float: right;
  right: 8%;
  width: 27.33%;

}

.gradient {
  background:  -webkit-linear-gradient(0deg, #222, #333);
  background: -moz-linear-gradient(0deg, #222, #333);
  background: -o-linear-gradient(0deg, #222, #333);
  background: linear-gradient(0deg, #222, #333);

  
}

html {
  font-size: 100.01%
}

.icon {
  position: absolute;
  height: 98%;
  right: 5%;
  bottom: 1%;
}


li {
  display: inline;
  border: 0px;
  margin: 0;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;

}

li.links {
  position: relative;
  box-sizing: inherit;
  top:0px;
  height: 20.25%;
  width: inherit;
  display: block;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-radius: 0px;
  background: #222;
  -webkit-transition: background 1.5s, color 1.5s;
  -moz-transition: background 1.5s, color 1.5s;
  font-size:30px;
  text-shadow: 1px 2px 1px #333;

  
}

.l1  {
  color: #CC6699;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
}

.l1:hover {
  background: #CC6699;
  color: #fff;
}

.l2 {
  color: #3399AA;
  border-bottom: 4px solid #000;
}

.l2:hover {
  background: #3399AA;
  color: #fff;

}
 
 .l3 {
  color: #33DD99;
  border-bottom: 4px solid #000;
 }

.l3:hover {
  background: #33DD99;
  color: #fff;
}

.l4 {
  color: #FF8877;
  border-bottom: 4px solid #000;
}
.l4:hover {
  background: #FF8877;
  color: #fff;
}

li.nav {

  position: relative;
  box-sizing: inherit;
  height: 5%;
  top: 2%;
  bottom: 2%;
  left: 18%;
  font-size: 26px;
  padding-left: 1.25%;
  padding-right: 1.25%;
  color: #666;
}

li.nav a {
  color: #666;
}

.n1:hover {
  color: #CC6699;
}
.n2:hover {
  color: #3399AA;
}
.n3:hover {
  color: #33DD99;
}
.n4:hover {
  color: #FF8877;
}

.portrait {
  position: absolute;
  top: 15%;
  width: 100%;
}

.shadow {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
}

ul#links {
  position: relative;
  height: 100%;
  width: 100%;
  border: 0px;
  box-sizing: inherit;
}

.wordpress {
  position: absolute;
  width: 95%;
  height: 95%;

}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
